@reference '../../../styles.css';

:host {
  @apply rounded-full border font-bold transition duration-300;
  @apply bg-primary/10 border-slate-700 text-slate-900 opacity-100 shadow-lg;
  @apply dark:shadow-primary/10 dark:border-emerald-200/80 dark:text-emerald-200/80 dark:opacity-80;
}
