# Build outputs
/build/
/coverage/
/dist/
/out/
/storybook-static/

# Framework outputs
.angular/cache/
.next/
.nuxt/
.nx/
.svelte-kit/
.turbo/
.vercel/

# Dependencies
**/node_modules/
.deno/

# Lockfiles
*.lock
bun.lockb
package-lock.json
pnpm-lock.yaml

# Cache & temp
.cache/
.temp/
.tmp/

# Env & secrets
.env*
!.env.example

# IDE & OS
.vscode/
.idea/
.DS_Store

# Always format these
!package.json
!tsconfig*.json
!nx.json
