:host {
  display: flex;
  width: 100%;
  justify-content: center;
}

.toast-enter {
  animation: slideInDown 0.3s ease-out;
  width: 80%;
  max-width: 28rem;
}

@media (min-width: 768px) {
  :host {
    justify-content: flex-end;
  }

  .toast-enter {
    animation: slideInRight 0.3s ease-out;
    width: 100%;
    max-width: 28rem;
    margin-right: 0.625rem;
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
