name: Main Branch Checks

on:
  push:
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'LICENCE.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Run Quality Checks
        uses: ./.github/actions/quality-check
        with:
          coverage-artifact-name: coverage-reports-main
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sonar-extra-args: >
            -Dsonar.projectVersion=${{ github.sha }}
            -Dsonar.branch.name=main

  e2e-tests:
    permissions:
      contents: read
      statuses: write
    uses: ./.github/workflows/e2e.yaml
    with:
      report-artifact-name: playwright-report-main
      report-retention-days: 7
